:root {
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --light-gray: rgb(211, 211, 211);
    --light-grey: rgb(211, 211, 211);
    --blue: rgba(64, 72, 237, 0.916);
    --sm: 1.0rem;
    --md: 1.2rem;
    --lg: 1.4rem;
    --p: 1.2rem;
    --h3: 1.6rem;
    --h2: 1.8rem;
    --h1: 2.2rem;
}

/* Estilos globales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template: auto 1fr auto/1fr;
    height: 100vh;
}

a, ul {
    list-style: none;
    text-decoration: none;
    color: #000;
}

/* Estilos del header */

header {
    width: 100%;
    background-color: rgb(148, 231, 231);
    text-align: center;
    padding: 15px;
}

header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

header > div > a {
    width: 35px;
    margin-bottom: 3px;
}

header > div > a img {
    width: 100%;
    object-fit: contain;
}

header > div h1 {
    font-size: var(--h1);
}

header > p {
    font-size: var(--p);
}

header > ul {
    display: none;
}

/* Estilos del main  */

main {
    width: 100%;
    background-color: rgb(165, 231, 253);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 23px 15px;
}

.definicion {
    background-color: rgb(246, 246, 246);
    max-width: 470px;
    padding: 13px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 13px;
    margin-bottom: 15px;
}

.definicion > h3 {
    font-size: var(--h3);
    font-weight: 700;
}

.definicion > p {
    font-size: var(--p);
    text-align: justify;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.contenido > h2 {
    font-size: var(--h1);
    margin-bottom: 7px;
}

.contenido > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 30px;
}

.contenido > div p {
    font-size: var(--p);
}

.contenido > div h2 {
    font-size: var(--h2);
}

.contenido > div h3 {
    font-size: var(--h3);
}

.contenido > div > a {
    background-color: var(--text-input-field);
    padding: 10px 35px;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: var(--lg);
    font-weight: 700;
    color: rgb(24, 24, 225);
}

.contenido > div > a:active {
    background-color: rgb(118, 255, 255);
    border: 1px solid rgb(169, 249, 222);
}

.contenido > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contenido > div > div picture {
    width: 135px;
    background-color: var(--text-input-field);
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
}

.contenido > div > div picture img {
    width: 100%;
    object-fit: contain;
}

.contenido_figuras_geometricas > picture {
    width: 70px;
}

.contenido_figuras_geometricas > picture > img {
    width: 100%;
    object-fit: contain;
}

/* Estilos del footer */

footer {
    width: 100%;
    background-color: rgb(148, 231, 231);
    padding: 10px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer ul:nth-child(1) {
    margin-bottom: 7px;
}

footer ul li, footer ul li a {
    font-size: var(--lg);
    font-weight: 500;
}